.idea/libraries/*

.idea/gradle.xml

.idea/jpa.xml

.idea/misc.xml

.idea/modules.xml

.idea/modules/

.DS_Store

.env
.env.*

*.pyc
__pycache__/

frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.idea